*{
    padding: 0;
    margin: 0;
}
nav{
    background-color: black;
    color:white;
    padding: 15px;
}
h1,ul,li{
     display: inline-block;
}
ul{
    padding-left: 60%;
}
li{
    color: gray; 
}
li:hover{
    color: white;
    cursor: pointer;
}

input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    display: block;
    padding: 25px;
    text-align: center;
}
.box{
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    width: 220px;
}
.products{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.about{
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.contact{
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
}